<article class="posts__post" itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting">
  <div class="card">
    <div class="card-header">
      <h5 class="card-title">{{ exposition.title }}</h5>
    </div>
    {% if exposition.affiche %}
    <img class="card-img-top" src="{{ exposition.affiche | replace: 'JPG', 'jpg' | prepend: '/assets/images/expositions/' | prepend: site.baseurl }}"/>
    {% endif %}
    <div class="card-body">
      <a href="{{ exposition.url | prepend: site.baseurl }}" itemprop="url" class="btn btn-primary">Plus d'infos</a>
    </div>
  </div>
</article>
