<article class="posts__post" itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting">

<div class="card">
  <img class="card-img-top" src="{{ post.image | upcase | replace: 'JPG', 'jpg' | prepend: '/assets/images/480/' | prepend: site.baseurl }}"
       srcset="{% for size in site.image-size %}
               {{ post.image | upcase | replace: 'JPG', 'jpg' | prepend: '/' | prepend: size | prepend: '/assets/images/' | prepend: site.baseurl }} {{ size }}w,
               {% endfor %}"
       sizes="(max-width: 54em) 100vw,
             (max-width: 90em) 48vw,
             (min-width: 91em) 27vw,
             480px"/>
  <div class="card-body">
    <div class="card-text">
      &laquo;&nbsp;{{ post.title }}&nbsp;&raquo;
    </div>
    <div class="blockquote-footer text-right">
      {{ post.title_author }}
    </div>
  </div>
  <div class="card-footer d-flex justify-content-between">
    <div class="card-text text-muted">
      {{ post.technique }} - {{ post.dimensions }}
    </div>
    <!-- <div class="card-text text-muted">
      {{ post.technique }} - {{ post.dimensions }}
    </div> -->
      <div class="card-text text-muted">
        {% if post.price %}
          {{ post.price }}€
        {% else %}
         Vendue
        {% endif %}
      </div>
  </div>
</div>

</article>
