<article class="posts__post" itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting">
  <!-- <a class="posts__link" href="{{ post.url | prepend: site.baseurl }}" itemprop="url"> -->
    {% if post.image %}
      <div class="post__content">
        <!-- <div id="markdown" itemprop="articleBody"> -->
        <div id="markdown">
          <a class="chocolat-image"
            href="{{ post.image | replace: 'JPG', 'jpg' | prepend: '/assets/images/1080/' | prepend: site.baseurl }}"
            data-srcset="{% for size in site.image-size %}
                {{ post.image | replace: 'JPG', 'jpg' | prepend: '/' | prepend: size | prepend: '/assets/images/' | prepend: site.baseurl }} {{ size }}w,
                  {% endfor %}"
            data-sizes="(max-width: 54em) 100vw,
                  (max-width: 90em) 48vw,
                  (min-width: 91em) 27vw,
                  480px"
            title="{{ post.title }}"
            <!-- data-action="zoom" -->
          >
          <img src="{{ post.image | replace: 'JPG', 'jpg' | prepend: '/assets/images/480/' | prepend: site.baseurl }}"/>
        </a>
      </div>
    {% endif %}
    <div class="description">
      <div class="painting-title">
        &laquo;&nbsp;{{ post.title }}&nbsp;&raquo;
      </div>
      <div class="painting-title-author">
        {{ post.title_author }}
      </div>
      <div class="painting-details">
        {{ post.technique }} - {{ post.dimensions }}
      </div>
      {% if post.price %}
      <div class="painting-price">
        Prix : {{ post.price }}€
      </div>
      {% else %}
      <div class="painting-price">
        Vendu
      </div>
      {% endif %}
    </div>
  <!-- </a> -->
</article>
